Cython==0.23.4
PyYAML==3.11
Theano==0.8.0rc1
argparse==1.4.0
decorator==4.0.9
h5py==2.5.0
ipython==4.1.2
ipython-genutils==0.1.0
jellyfish==0.5.3
joblib==0.9.4
numpy==1.10.4
pandas==0.18.0
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.6
progressbar2==3.6.2
protobuf==2.6.1
ptyprocess==0.5.1
pyenchant==1.6.6
python-dateutil==2.5.0
pytz==2016.1
scipy==0.17.0
simplegeneric==0.8.1
six==1.10.0
stevedore==1.12.0
traitlets==4.2.1
virtualenv==15.0.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
wheel==0.29.0
git+git://github.com/Theano/Theano.git#egg=theano
git+git://github.com/fchollet/keras.git@763a2a953638ac1a1374c11d65716938060553c0#egg=keras
#Modeling-package==0.0.0, /export/home/ndronen/proj/modeling
#Spelling-package==0.0.0, /export/home/ndronen/proj/spelling
